header#main-header {
    width: 100%;
    height: 60px;
    background: rgb(54, 99, 173);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*color azul: rgb(54, 99, 173)*/